////// Base for the proyect itself //////
body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  background-color: $col-background-primary;
}

.container {
  max-width: 550px;
  margin: 0 auto;
}

.todos-container{
  box-shadow: $box-shadow;
}

.footer{
  background-color: $col-background-primary;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: .5em 0;
  color: $col-dark2;
  text-align: center;
  letter-spacing: .03rem;
  a {
    color: $col-dark1;
  }
}
