//// Variables /////
$col-primary: #81BCE4;
$col-background-primary: #e9e9e9;
$col-background-secondary: #f8f8f8;

$col-dark1: #484747;
$col-dark2: #979797;
$col-dark3: #dadada;

$box-shadow: 0 1em 2em rgba($col-dark2, .4);
